{% extends 'base.html' %}
{% load static %}
{% block title %}Share AC {{transaction_type}}{% endblock %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'app1/general.css' %}">
{% endblock %}

{% block content %}

    <h1>Share AC {{transaction_type}}</h1>

    <div class="table-container1" style="display: flex; gap: 25px; margin: 20px 0;">
        <table>
            <tr>
                <td>Share ID</td>
                <td>{{ share_ac.share_id }}</td>
            </tr>
            <tr>
                <td>Account No</td>
                <td>{{ share_ac.customer.account_number }}</td>
            </tr>
            <tr>
                <td>Customer Name</td>
                <td>{{ share_ac.customer.customer_name }}</td>
            </tr>
            <tr>
                <td>Nominee</td>
                <td>{{ share_ac.nominee }}</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>{{ share_ac.created_at }}</td>
            </tr>
        </table>
        
        <table>
            <tr>
                <td>Total Deposit</td>
                <td>{{ share_ac.deposit }}</td>
            </tr>
            <tr>
                <td>Total Withdraw</td>
                <td>{{ share_ac.withdraw }}</td>
            </tr>
            <tr>
                <td>Current Balance</td>
                <td>{{ share_ac.balance }}</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                {% comment %} <td>Profit Earned</td> {% endcomment %}
                {% comment %} <td>{{ share_ac.get_profit }}</td> {% endcomment %}
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                {% comment %} <td>Profit Withdrawn</td> {% endcomment %}
                {% comment %} <td>{{ share_ac.profit_withdraw }}</td> {% endcomment %}
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                {% comment %} <td>Profit Balance</td> {% endcomment %}
                {% comment %} <td>{{ share_ac.profit_balance }}</td> {% endcomment %}
            </tr>
        </table>
    </div>
    
    

    <div class="div2">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>


{% endblock %}
